@keyframes move {
    from {
        margin-top: -1920px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes dontmove {
    0% {
        margin-left: -45%;
    }

    100% {
        margin-left: 42%;
    }
}

@keyframes fadeinanimation {
    0% {
        background-color: whitesmoke;
    }

    100% {
        background-color: black;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        padding-top: 30%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sideanimation {
    0% {
        left: -100%;
        right: 180%;
    }

    100% {
        left: 0;
        right: 80%;
    }
}