body {
    background-color: black;
    animation: fadeinanimation 3s ease 1;
}

p {
    color: white;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    padding-top: 5%;
    line-height: 2;
    font-size: 20px;
    font-family: 'play', sans-serif;
    animation: opacity linear 1 3s;
}

.mercury {
    background: url(../image/mercury.png);
    margin-left: 42%;
}



.venuse {
    background: url(../image/venus.png);
    margin-left: 42%;
}

.earth {
    background: url(../image/earth.png);
    margin-left: 42%;
}

.mars {
    background: url(../image/mars.png);
    margin-left: 42%;
}

.jupiter {
    background: url(../image/jupitar.png);
    margin-left: 42%;
}

.saturn {
    background: url(../image/saturn.png);
    margin-left: 35%;
    width: 382.5px !important;
    height: 165px !important;
    margin-top: 100px;
}

.uranus {
    background: url(../image/uranus.png);
    margin-left: 35%;
    width: 346px !important;
    height: 160px !important;
    margin-top: 100px;
}

.neptune {
    background: url(../image/neptune.png);
    margin-left: 42%;
}

.pluto {
    background: url(../image/pluto.png);
    margin-left: 42%;
}

.mercury,
.venuse,
.earth,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    margin-top: 20px;
    margin-left: 42%;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotation 8s linear infinite, dontmove 3s linear 1;
}



nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 83%;
    background: linear-gradient(to bottom, rgb(35, 101, 152), rgb(160, 131, 223));
    border-radius: 0 30% 200% 0;
    animation: sideanimation 3.5s linear 1;
}

.in-nav {
    margin-top: 12%;
    text-align: left;
    text-justify: auto;
}

.inside {
    color: rgb(230, 0, 173) !important;
    font-size: 18px;
}

.in-nav div a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'righteous', cursive;
    margin-left: 12%;
    line-height: 3.5;
}

.side-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-img {
    width: 20px;
    height: 20px;

}

.side-img-fix {
    width: 40px;
    height: 17px;
}


